<form>
	<div class="form-group">
		<label id="btnAudioFile" class="button" for="audioFile">Upload FILE
			<input id="audioFile" class="form-control"
				[(ngModel)]="audioFileInput"
				name="audioFileInput"
				accept=".mp3, .m4a" 
				type='file'
				(change)="onFileChange($event)">
		</label>
		<button *ngIf="!audioFile"
			type="button" 
			class="button btn btn-primary">Upload LINK</button>
	</div>
	<div *ngIf="audioFile">
		<button class="btn btn-lg btn-outline-primary"
				type="button" [disabled]="!audioFormValid"
				(click)="submitUpload()">Upload</button>
		<button class="btn btn-lg btn-outline-primary"
				type="button"
				(click)="cancelUpload()">Cancel</button>
	</div>
</form>