<form>
Upload a new audio source :
	<!-- RADIO BUTTON TO CHOOSE BETWEEN FILE AND URL -->
	<span class="label label-default">url</span>
	<input type="radio" value="0"
		name="_isTrackFile"
		[(ngModel)]="_isTrackFile">
		<span class="label label-default">file</span>
	<input type="radio" value="1"
		name="_isTrackFile"
		[(ngModel)]="_isTrackFile">

	<!-- FILE OR URL INPUTS -->
	<ng-container [ngSwitch]="_isTrackFile">
		<!-- FILE -->
		<label id="btnAudioFile" class="form-control" 
			for="audioFile"
			*ngSwitchCase="1">Select a file ...
			<input id="audioFile" class="form-control"
				[(ngModel)]="audioFileInput"
				name="audioFileInput"
				accept=".mp3, .m4a" 
				type='file'
				(change)="onFileChange($event)">
		</label>
		<!-- URL -->
		<input type="text" class="form-control"
			*ngSwitchCase="0"
			name="audioLink" [(ngModel)]="audioLink"
			placeholder="link url">
	</ng-container>
</form>
	