<div app-aside>
<div id="songDetailContainer">
		<div id="title" class="">
			{{song.title}}
		</div>
		<div id="artist" class="">
			{{song.artist}}
		</div>
		<div id="thumbnailContainer"
			class="flex-container flex-center-main"
			[style.background-image]="'url('+song.thumbnailUrl+')'"
			[style.background-size]="'cover'"
			[style.background-position]="'center'"
			[style.background-repeat]="'no-repeat'"
			>
		</div>
		<div id="descriptionContainer">
			<pre>{{song.description}}</pre>
		</div>
</div>
</div>
