:host {
	height: auto;
	width: 100%;
	/* overflow-y: scroll; */
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#songDetailContainer {
	height: 100%;
	width: 100%;
}
	#artist {
		width: auto;
		height: 20px;
		border-bottom: 1px white solid;
		transition: border-bottom .3s ease-out;
		line-height: 25px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #777;
	}
	#title {
		width: auto;
		height: 20px;
		border-bottom: 1px white solid;
		/* transition: border-bottom .3s ease-out;
		line-height: 25px; */
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
#thumbnailContainer {
	height: 300px;
	width: 100%;
}
#playBtnOnPost {
	height: 50px;
	width: auto;
	visibility: hidden;
}
#thumbnailContainer:hover > #playBtnOnPost {
	visibility: visible;
}
#playBtnOnPost circle{
	-webkit-transition: fill 300ms ease-out;
    -moz-transition: fill 300ms ease-out;
    -o-transition: fill 300ms ease-out;
    transition: fill 300ms ease-out;
	fill: #000;
	/* fill-opacity: .5; */
}
#playBtnOnPost path{
	-webkit-transition: fill 300ms ease-out;
    -moz-transition: fill 300ms ease-out;
    -o-transition: fill 300ms ease-out;
    transition: fill 300ms ease-out;
	fill: #fffc75;
	/* fill-opacity: .5; */
}
#playBtnOnPost:hover circle{
	fill: #fffc75;
}
#playBtnOnPost:hover path{
	fill: #000;
}
#descriptionContainer {
	margin: 25px 0px 25px 0px;
}
.flex-container {
	display: flex;
	align-items: center;
}
.flex-center-main {
	justify-content: center;
}
.flex-dir-col {
	flex-direction: column;
	align-items: stretch;
}
.scroll-y {
	overflow-y: scroll;
}