:host {
	height: 100%;
}
menu {
	height: 50px;
	widows: 100%;
	background-color: black;
	color: white;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#songDetailContainer {
	height: 100%;
}
	#artist {
		width: auto;
		height: 20px;
		line-height: 25px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #777;
	}
	#title {
		width: auto;
		height: 20px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
#thumbnailContainer {
	height: 300px;
	width: 300px;
}
#descriptionContainer {
	margin: 25px 0px 25px 0px;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}