<svg:defs>
	<svg:clipPath [id]="'bla'+song[0].id"
		clipPathUnits="objectBoundingBox">
			<svg:use [attr.href]="'../../../assets/shapes.defs.svg#'+clipPathType" height="1" width="1"></svg:use>
	</svg:clipPath>
</svg:defs>
<svg:image
	[style.clip-path]="'url(#bla'+song[0].id+')'"
	[attr.href]="song[0].thumbnailUrl"
	[attr.x]="song.x-100"
	[attr.y]="song.y-100"
	width="200"
	height="200"
	preserveAspectRatio="xMidYMid slice"

	(click)="play($event, song[0])"
	(contextmenu)="navigateToSongHighlight($event, song[0].id)">
</svg:image>