:host {
	position: fixed;
	z-index: 3;
	background-color: rgba(0,0,0,0.3);
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
}
#container {
	position: absolute;
	background-color: white;
	padding: 30px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#closePopup {
	position: absolute;
	background-color: #fffc75;
	font-size: 20px;
	margin: 0px;
	top: 3px;
	right: 3px;
	width: 25px;
	height: 25px;
	text-align: center;
	transition: background-color .5s ease,
				font-size .1s ease-out,
				color .5s ease;
}
#closePopup:hover {
	cursor: pointer;
	color: #fffc75;
	background-color: black;
}