<!--  -->
<div class="flex-center">
	<div id="thumbnail"
	[style.background-image]="song.thumbnailClientFileBuffer?'url('+song.thumbnailClientFileBuffer+')':'url('+song.thumbnailUrl+')'"
	[style.background-size]="'contain'"
	[style.background-position]="'center'"
	[style.background-repeat]="'no-repeat'">
		<app-upload-thumbnail-file></app-upload-thumbnail-file>
	</div>
	<div>
		<form #requiredForm="ngForm"
			class="form-group">
			<label for="titleInput">Title</label>
			<input id="titleInput" class="form-control" type="text"
				required 
				[(ngModel)]="song.title"
				name="title">
			<label for="artistInput">Artist</label>
			<input id="artistInput" class="form-control" type="text"
				required 
				[(ngModel)]="song.artist"
				name="artist">
		</form>
	</div>
</div>
<form>
	<label for="descriptionTextarea">Description</label>
		<textarea id="descriptionTextarea" class="form-control"
			type="text" placeholder="..."
			name="description" [(ngModel)]="song.description">
		</textarea>
		<label for="tagsInput">Tags</label>
		<input type="text" class="form-control"
			[(ngModel)]="song.tags"
			name="tags">
</form>
<div>
	<app-upload-audio-file></app-upload-audio-file>
</div>
<div>
	<button class="btn btn-lg btn-outline-primary" type="button"
		(click)="saveChanges()"
		[disabled]="!requiredForm.valid">Save</button>
	<button class="btn btn-lg btn-outline-primary" 
		type="button"
		(click)="cancelEditSong()">Cancel</button>
</div>