/* You can add global styles to this file, and also import other style files */
/* @font-face {
    font-family: montserratBlack;
    src: url("./assets/montserrat/Montserrat-Black.otf");
}
@font-face {
    font-family: montserratBold;
    src: url("/assets/montserrat/Montserrat-Bold.otf");
}
@font-face {
    font-family: montserratSemiBold;
    src: url("/assets/montserrat/Montserrat-SemiBold.otf");
}
@font-face {
    font-family: montserratLight;
    src: url("./assets/montserrat/Montserrat-Light.otf");
}
@font-face {
    font-family: montserratThin;
    src: url("./assets/montserrat/Montserrat-Thin.otf");
}
@font-face {
    font-family: montserratRegular;
    src: url("./assets/montserrat/Montserrat-Regular.otf");
} */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
	height: 100%;
  	min-height: 100%;
    width: 100%;
    min-width: 100%;
  	font-size: 12px;
}
app-root {
	min-width: 100%;
    width: 100%;
	min-height: 100%;
    height: 100%;
}
* {
	padding: 0px;
	margin: 0px;
}
*, pre {
    font-family: montserratLight;
}

/* app wide generic css classes */
.img-fluid {
    max-height: 100%;
    width: auto;
}
*:focus {
    outline: 0;
    outline: none;
}
